:root {
    --FunFont: 'Cormorant SC', serif;
    --MonoFont: 'Anonymous Pro', monospace;
    --SansFont: 'Titillium Web', sans-serif;
}

body {
    background-image:url('./images/quizBG.png');
}

h1 {
    font-family: var(--FunFont);
    color: #fff;
    text-shadow: 2px 3px 7px #000;
    text-align: center;
    background-color: rgba(99,148,150,0.7);
    padding: 20px 0;
    margin-bottom: 20px;
    font-size: 40px;
}

#QuizSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#Questions {
    flex: 1 1 50%;
    margin: auto;
    padding: 2% 5%;
    background-color: #a2a2a2;
}

#Questions h2 {
    font-family: var(--FunFont);
    font-size: 30px;
    text-align: center;
}

#quizQuestion {
    visibility: hidden;
}

form {
    display: none;
}

form label {
    font-family: var(--SansFont);
    font-size: 15px;
    margin: 10px;
}

.correct {
    display: none;
    font-family: var(--FunFont);
    font-size: 25px;
    width: 100%;
    padding: 5px;
    color: darkgreen;
    border-top: 1px solid darkgreen;
    text-align: center;
}

.incorrect {
    display: none;
    font-family: var(--MonoFont);
    font-size: 25px;
    width: 100%;
    padding: 5px;
    color: darkred;
    border-top: 1px solid darkred;
    text-align: center;
}

#stats {
    flex: 1 1 15%;
    font-family: var(--MonoFont);
    font-size: 15px;
    line-height: 150%;
    border: 13px solid rgb(99,148,150);
    padding: 2% 5%;
    background-color: #eeeeee;
}

#hScore {
    display: none;
    width: 100%;
    margin-bottom: 20px;
}
#scoreSub {
    display: none;
    font-family: var(--MonoFont);
    font-size: 20px;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    #QuizSection {
        flex-direction: column;
    }

    #Questions {
        width: 80%;
        margin: 0 10%;
    }

    #stats {
        width: 80%;
        margin: 0 10%;
        margin-top: 30px;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    #QuizSection {
        flex-direction: column;
    }
    
    #Questions {
        width: 100%;
    }

    #stats {
        width: 100%;
        margin-top: 30px;
    }
  }